* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.top-line {
  background-color:#124dac;
  padding: 0px;
  height: 3px;
}
header{
	background: #f5f5f5;
	width:100%;
	height: 17%;
	
}
header img{
	position: relative ;
	top: 15%;
	left: 19%;
	
}
header .img_1{
	position: absolute ;
	top: 5%;
	left: 1%;
}

header h2{
	font-family: "Open Sans";
	color: green;
	position: absolute;
	top: -2%;
	left:28%;
	font-size: 41px;
	
}

header h3{
	font-family: Open Sans;
	position: absolute;
	top: 5%;
	left:28%;
	font-size: 30px;
	
}

.line-one{
	position: absolute;
	background-color: black;
	padding: 0px;
	height: 95px;
	width: 2px;
	top: 3%;
	left: 37%;
}
header h1{
	font-family: monospace;
	color: green;
	position: absolute;
	top: 2%;
	left:40%;
	font-size: 1.7em;
}

header h4{
	position: absolute;
	left:40%;
	top: 5%;
	font-family: Sans-serif;
    font-size: 1.5em;
    color: #484646;
    text-transform: uppercase;
}
a{
	text-decoration: none;
	color: white;
}
.nav-area{
	position: absolute;
	top: 16%;
	width: 99%;
	background: -webkit-linear-gradient(top, #3a96ce, #266184);
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 20px ;
}

.nav-area li {
	align-items: center;
	display: inline-block;
	padding: 0 0px;
	text-transform: uppercase;
}

.content_1{
	position : relative;
	top:10%;
	height:65%;
	
	
}
.con1{
	background: #f3ebf5;
}


.content_1 h1{
	position: absolute;
	left: 40%;
	top: -3%;
	font-weight: 600;
	color:black;
	font-family:inherit;
}

.content_1 p{
	position: absolute;
	font-family:inherit;
	top:9%;
	left:30%;
	color: #666666;
}

.content_1_1{
	position:absolute;
	left:8%;
	top:20%;
}

.one{
	border-radius: 25px;
	background-color:  #f7f5f7;
	height:280px;
	width:350px;
	border: 2px solid #ce23e8;
	float: left;
	margin: 35px;
}

.one img{
	position: relative;
	left:36%;
	top:2%;
}

.one h5{
	position: relative;
	left:32%;
	font-size:1em;
	font-family:sans-serif;
	color:#9e2f2f;
}

.one h6{
	position: relative;
	font-size:0.8em;
	font-family:inherit;
	color: #8c8c8c;
	
}
.one h6#ll{
	position: relative;
	left:18%;
}

.one h6#test{
	position: relative;
	left:18%;
}

.one h6#other{
	position: relative;
	left:22%;
}



.one a{
	position: relative;
	background: -webkit-linear-gradient(top, #4acbf9, #337ab7);
	left:37%;
	color: black;
	display: inline-block;
    border: 1px solid #dadada;
    padding: 2px 20px;
    font-weight: normal;
    text-decoration: none;
    border-radius: 3px;
}

/* Responsive layout */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}