body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	background: #e3e9f7;
}

nav ul {
	margin: 0;
	border-radius:20px;
	padding: 0;
	height: 99%;
	width: 280px;
	position: fixed;
	top: 5px;
	left: 0;
	background-color: #262626;
}
nav ul li {
	list-style: none;
}
nav ul li a {
	display: block;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	color: #fff;
	position: relative;
	padding: 25px 0 25px 38px;
}
nav ul li a:before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0%;
	height: 100%;
	background: #e3e9f7;
	border-radius: 40px 0px 0px 40px;
	z-index: -1;
	transition: all 300ms ease-in-out;
}
nav ul li a:hover {
	color: #2b2626;
}
nav ul li a:hover:before {
	width: 95%;
}

.required{
	color:red;
}


.logo {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	margin: 25px auto;
}
.logo img {
	width: 100%;
	height: 100%;
}

.area {
	margin-left: 260px;
}

.table {
	font-size:13px;
  margin-left: 120px;
  margin-top:80px;
  margin-bottom:100px;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

 .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  
   .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  
  .col{
    width:150px;
	text-align: center;
	margin:auto;
  }
  
  .col-3{
	  width:500px;
	  
  }
  
   tr {
    border-radius: 3px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.search input[type=submit]
{
	border: none;
	padding: 8px 15px 8px 15px;
	background: #FF8500;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.search input[type=submit]:hover
{
	background: #EA7B00;
	color: #fff;
}

.search input[type=submit]{
	position:relative;
	left:5%;
}


.search input.input-field{
	margin-top:35px;
	margin-left:25%;
	width: 25%;
		height:30px;
}
.search input.input-field, 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 12px;
	outline: none;
}
.search .input-field:focus{
	border: 1px solid #0C0;

}